<ul class="social-media-list">
    {% if site.social_sites.github %}
    <li>
      <a href="https://github.com/{{ site.social_sites.github | cgi_escape | escape }}"
         title="{{ site.social_sites.github | escape }}">
        <svg class="svg-icon"><use xlink:href="/assets/icons.svg#github"></use></svg>
      </a>
    </li>{% endif %}
    {% if site.social_sites.linkedin %}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.social_sites.linkedin | cgi_escape | escape }}"
         title="{{ site.social_sites.linkedin | escape }}">
        <svg class="svg-icon"><use xlink:href="/assets/icons.svg#linkedin"></use></svg>
      </a>
    </li>{% endif %}
    {% if site.social_sites.twitter %}
    <li>
      <a href="https://www.twitter.com/{{ site.social_sites.twitter | cgi_escape | escape }}"
         title="{{ site.social_sites.twitter | escape }}">
        <svg class="svg-icon"><use xlink:href="/assets/icons.svg#twitter"></use></svg>
      </a>
    </li>{% endif %}
    {% if site.social_sites.medium %}
    <li>
      <a href="https://medium.com/@{{ site.social_sites.medium | cgi_escape | escape }}"
         title="{{ site.social_sites.medium | escape }}">
        <svg class="svg-icon"><use xlink:href="/assets/icons.svg#medium"></use></svg>
      </a>
    </li>{% endif %}
    {% if site.rss %}
    <li>
      <a href="{{ 'feed.xml' | relative_url }}"
         title="{{ site.rss | escape }}">
        <svg class="svg-icon"><use xlink:href="/assets/icons.svg#rss"></use></svg>
      </a>
    </li>{% endif %}
  </ul>
